<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/_mainLayout}">

<div layout:fragment="content">

  <div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2>Lista de Citas</h2>
<!--      <a class="btn btn-primary" th:href="@{/citas/nuevo}">Nueva Cita</a>-->
      <a class="btn btn-primary" th:href="@{/citas/nuevo}" sec:authorize="hasAnyRole('cliente','administrador')">
        Nueva Cita
      </a>


    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th>Cliente</th>
          <th>Servicio</th>
          <th>Barbero</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Estado</th> <!-- Nueva columna -->
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cita : ${listaCitas}">
          <td th:text="${cita.usuario.nombre}"></td>
          <td th:text="${cita.servicio.nombre}"></td>
          <td th:text="${cita.barbero.usuario.nombre}"></td>
          <td th:text="${#temporals.format(cita.fecha, 'dd/MM/yyyy')}"></td>
          <td th:text="${#temporals.format(cita.fecha, 'HH:mm')}"></td>
          <td th:text="${cita.estado}"></td> <!-- Mostrar estado -->



<!--          <td> <a class="btn btn-sm btn-warning" th:href="@{/citas/editar/{id}(id=${cita.id})}"> ✏️ </a> &lt;!&ndash; Botón eliminar visible solo para administrador &ndash;&gt;-->

<!--          <a class="btn btn-danger btn-sm" th:href="@{/citas/eliminar/{id}(id=${cita.id})}" onclick="return confirm('¿Seguro que quieres eliminar esta cita?');" sec:authorize="hasRole('administrador')">-->
<!--              🗑️-->
<!--            </a>-->

<!--          </td>-->
          <td>
            <!-- Editar -->
            <a class="btn btn-sm btn-warning"
               th:href="@{/citas/editar/{id}(id=${cita.id})}"
               sec:authorize="hasAnyRole('cliente','barbero','administrador')">✏️</a>

            <!-- Eliminar -->
            <a class="btn btn-danger btn-sm"
               th:href="@{/citas/eliminar/{id}(id=${cita.id})}"
               onclick="return confirm('¿Seguro que quieres eliminar esta cita?');"
               sec:authorize="hasRole('administrador')">
              🗑️
            </a>
          </td>

          </sec:authorize>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
</html>
